.selection {
  stroke: gray;
  stroke-width: 1px;
  stroke-dasharray: 4px;
  stroke-opacity: 0.8;
  fill: transparent;
}


.container {
	margin-bottom:30px;
}

.text-yellow {
    color: #FDE910;
}

.row_subnet {
	padding-top:6px;
}

.bg-userip {
	background: #eee;
}

.row_timeslot {	
	padding:6px 0;
}

.bg-usertimeslot {
	background: #e0e0e0;
}

.bg-userinfo, .bg-locationinfo {
	background: #d8d8d8;
}

.bg-user-error {
	background: #f2dede;
	border: 1px solid red;
}

/* classi date */
.row_event_date {
	margin-bottom: 10px;
}

.bg-tab-error {
	background: #f2dede;
}

#user_info,  #location_info {
	padding: 6px 15px 0;
	margin-bottom: 15px;
}

textarea {
    resize: none;
}

.area {
	background: #dedede;
	margin-bottom: 20px;
	padding: 5px;
}

#area_seats {
	background: #fff;
	padding: 5px;
}

#date_incomes {
	background: #cdcdcd;
	margin-bottom: 10px;
}

.row_cashdesk {
	background: #dadada;
	padding: 5px;
}

.row_organizer {
	background: #d0d0d0;
	padding: 5px;
}

.row_gest_organizer {
	background: #bcbcbc;
	padding: 5px;
}


.row_date_price {
	padding-top:10px
}

.row_other_income {
	background: transparent;
	border-left: 4px solid #f4f6cd;
	padding:5px 0
}

.row_income {
	background:#e7e8d9;	
	padding: 5px 0
}

#ui-datepicker-div {
	z-index:10000 !important
}

#location_areas_tabs {
	margin-bottom: 15px
}

#location_areas_tabs .tab-content {
	padding: 15px;
	border: 1px solid #ddd;
	border-top: none
}

/* dropdown menu multilivello */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
#event_tabs, #subscription_tabs {
	margin-bottom: 15px
}

#event_tabs .tab-pane, #subscription_tabs .tab-pane {
	padding: 15px;
	border: 1px solid #ddd;
	border-top: 0;
}
/* map */
#svgmap, .areainfo, #map_panel {
	margin-top:10px
}
#svgmap svg {
	height:500px;
	width:100%;
}

#svgmap {
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}

.seat {
	cursor:pointer
}


/* tablesorter */
.tablesorter-default td {background-color: transparent} 

/* griglia bootstrap 7 colonne */
@media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
  .eight-cols .col-md-1,
  .eight-cols .col-sm-1,
  .eight-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
  .nine-cols .col-md-1,
  .nine-cols .col-sm-1,
  .nine-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 12.5%;
    *width: 12.5%;
  }
  .eight-cols .col-md-1,
  .eight-cols .col-sm-1,
  .eight-cols .col-lg-1 {
    width: 12.5%;
    *width: 12.5%;
  }
  .nine-cols .col-md-1,
  .nine-cols .col-sm-1,
  .nine-cols .col-lg-1 {
    width: 11.11%;
    *width: 11.11%;
  }
}

/**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */    
@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
  .eight-cols .col-md-1,
  .eight-cols .col-sm-1,
  .eight-cols .col-lg-1 {
    width: 12.5%;
    *width: 12.5%;
  }
  .nine-cols .col-md-1,
  .nine-cols .col-sm-1,
  .nine-cols .col-lg-1 {
    width: 11.11%;
    *width: 11.11%;
  }
}
